{#
/**
 * @file
 * UI Pattern meta information.
 */
#}
{% if component.slots or component.props %}
  <table class="ui_patterns_component_table views-table pf-v6-c-table" style="width: 100%;">
    <thead class="pf-v6-c-table__thead">
      <tr class="pf-v6-c-table__tr">
        <th class="pf-v6-c-table__th">{{ 'Name'|t }}</th>
        <th class="pf-v6-c-table__th">{{ 'Label'|t }}</th>
        <th class="pf-v6-c-table__th">{{ 'Type'|t }}</th>
        <th class="pf-v6-c-table__th">{{ 'Description'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for slot_id, slot in component.slots %}
        <tr class="ui_patterns_component_table__slot pf-v6-c-table__tr">
          <td class="pf-v6-c-table__td">
            <code>{{ slot_id }}</code>
          </td>
          <td class="pf-v6-c-table__td">{{ slot.title }}</td>
          <td class="pf-v6-c-table__td">Slot</td>
          <td class="pf-v6-c-table__td">{{ slot.description }}</td>
        </tr>
      {% endfor %}
      {% for prop_id, prop in component.props.properties %}
        {% if prop_id != 'attributes' and prop_id != 'variant' %}
          <tr class="ui_patterns_component_table__prop pf-v6-c-table__tr">
            <td class="pf-v6-c-table__td">
              <code>{{ prop_id }}</code>
            </td>
            <td class="pf-v6-c-table__td">{{ prop.title }}</td>
            <td class="pf-v6-c-table__td">{{ prop.ui_patterns.type_definition.label }}</td>
            <td class="pf-v6-c-table__td">
              {%- for line in prop.ui_patterns.summary -%}
                {{- line -}}
                <br>
              {%- endfor -%}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
