{# Mapping des icônes en fonction des variantes #}
{% set icons = {
  'custom': 'fas fa-fw fa-bell',
  'info': 'fas fa-fw fa-info-circle',
  'success': 'fas fa-fw fa-check-circle',
  'warning': 'fas fa-fw fa-exclamation-triangle',
  'danger': 'fas fa-fw fa-exclamation-circle'
} %}

{# Définir les classes dynamiques en fonction de la variante #}
{% set alert_classes = [
  'pf-v6-c-alert',
  'pf-m-' ~ variant|default('custom')
] %}

{# Définir l'icône en fonction de la variante #}
{% set icon_class = icons[variant|default('custom')] %}

<div {{ attributes.addClass(alert_classes) }} aria-label="{{ variant|capitalize }} alert">
  <div class="pf-v6-c-alert__icon">
    <i class="{{ icon_class }}" aria-hidden="true"></i>
  </div>
  <p class="pf-v6-c-alert__title">
    <span class="pf-v6-screen-reader">{{ variant|capitalize }} alert:</span>
      {{ title }}
  </p>
  {% if description %}
    <div class="pf-v6-c-alert__description">
      {{ description }}
    </div>
  {% endif %}
  {% if dismissible %}
    <div class="pf-v6-c-alert__action">
      <button
        class="pf-v6-c-button pf-m-plain"
        type="button"
        aria-label="Close success alert: Success alert title"
      >
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  {% endif %}
  {% if actions %}
    <div class="pf-v6-c-alert__action-group">
      {{ actions }}
    </div>
  {% endif %}
</div>



